.show-txt{
    font-size: 1.5em;
    padding: 10px 0;
    margin-bottom: 10px;
    cursor: pointer;
    h4{
        text-align: center;
        padding: 15px;
        background-image: linear-gradient($clr3, $clr6);
        color: white;
        letter-spacing: 0.1em;
    }
    p{
        padding: 20px;
        background-color: white;
        font-size: 0.7em;
    }
}