// Colors
$clr1: #5e6c84;
$clr2: #172b4d;
$clr3: #5aac44;
$clr4: #61bd4f;
$clr5: #82eb6d;
$clr6: #61bd4fdc;
$main-bgc: #f3f5f7;
$light-bgc: #eaecf0;
$dark-bgc: #e1e4e9;
$clr7: #bdc0c2;
$clr8: #f4f5f7;
$clr10: #e2e2e2;
$clr11: #c9c9c9;
$clr12: #0079bf;
$clr13: #091e42;

// Breakpoints
$mobile-bp: 460px;
$narrow-bp: 720px;
$normal-bp: 960px;

